body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}
/* main page header */
#headerContainer {
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    width:100vw
}

#headerContainer h1, #colorToGuess {
    color: white;
    margin: 15px;

}

/* control bar with stas and info */

#controlBar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 37, 37);
    color: white;
    width:100vw
}

#newColBtn {
    background-color: rgb(37, 37, 37);
    border: none;
    border-radius: 0;
    color: white;
    cursor: pointer;
}

#newColBtn:hover {
background-color: rgb(60, 60, 60);
}


/* 6  boxes with random colors */
#optionsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    height:330px;
    

}

.box {
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 10px;
    cursor: pointer; 
}